.about-us-content {
  background-color: #999797;
  height: 100%;
  padding: 150px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN GRID */

.about-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 30px;
  width: 90%;
}

.section-story {
  grid-area: 1 / 1 / 3 / 2;
}

.section-picture {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 10px;
  border: #000000 solid 3px;
  box-shadow: #000000 0 0 10px;
  transition-duration: 1000ms;
}

.section-picture:hover {
  border-radius: 10px;
  border: #fff36f solid 3px;
  box-shadow: #fff36f 0 0 10px;
  transition-duration: 1000ms;
}

.section-stats {
  grid-area: 1 / 3 / 2 / 4;
}

.section-reviews {
  grid-area: 2 / 2 / 3 / 4;
}

.section-values {
  grid-area: 1 / 4 / 3 / 5;
}

/* STYLE */

.black-20px-700 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.about-section {
  background-color: #000000;
  border-radius: 10px;
  border: #fff36f solid 3px;
  box-shadow: #fff36f 0 0 10px;
  padding: 50px 20px;
  min-width: 300px;
  transition-duration: 700ms;
}

.about-section__h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff36f;
  text-align: center;
  margin-bottom: 20px;
  transition-duration: 1000ms;
}

.about-section__p {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  text-align: justify;
}

.about-section:hover {
  background-color: #ffffff;
  transition-duration: 1000ms;
  border: #000000 3px solid;
  box-shadow: #000000 0 0 10px;
}

.about-section:hover .about-section__h2 {
  color: #2c2825;
  transition-duration: 1000ms;
}

.about-section:hover .stats-numbers__value {
  color: #2c2825;
  transition-duration: 1000ms;
}

.about-section:hover .icon-style {
  color: #2c2825;
  transition-duration: 1000ms;
}

.section-stats {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.stats-numbers__value {
  font-size: 20px;
  color: #fff36f;
  font-weight: 700;
  text-align: end;
  transition-duration: 1000ms;
}

.stats-words p {
  text-align: start;
}

.section-values__h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-align: start;
  margin-top: 20px;
}

.section-values-flexbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  gap: 50px;
}

.icon-style {
  text-align: center;
  color: #fff36f;
  transition-duration: 1000ms;
  margin-top: 30px;
}

.section-picture__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.story-flex-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

/* REVIEWS SECTION */

.reviews-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
}

.cust-1-img {
  grid-area: 1 / 1 / 2 / 2;
}

.cust-1_box {
  grid-area: 1 / 2 / 2 / 3;
}

.cust-2-img {
  grid-area: 2 / 1 / 3 / 2;
}

.cust-2_box {
  grid-area: 2 / 2 / 3 / 3;
}

.cust-3-img {
  grid-area: 3 / 1 / 4 / 2;
}

.cust-3_box {
  grid-area: 3 / 2 / 4 / 3;
}
