main {
    background-color: #797979;
    height: 100vh;
    padding: 150px 50px;
}

/* TITLES OF SECTIONS */

h1 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    animation: float 2000ms linear infinite;
    transition: 1000ms;

}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

h1:hover {
    color: #d29a4f;
    transition: 1000ms;
    transform: translateY(0px);
}

/* MAIN GRID FOR WHOLE PAGE */

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "faq support"
    "media contacts";
    grid-gap: 30px 10px;
    place-content: center;
    place-items: center; 
}

/* SECTIONS */

.faq-section-container {
    grid-area: faq;
    width: 100%;
}

/* SUPPORT FORMS SECTION */

.support-section-container {
    grid-area: support;
    width: 100%;
}

.support-forms-main-grid {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px 15px;
}

.support-input-style-main {
    padding: 10px;
    background-color: rgba (255, 255, 255, 0.5);
    color: black;
    border: solid 1px solid black;
}



/* OTHER SECTIONS */

.media-section-container {
    grid-area: media;
    width: 100%;
}

.contacts-section-container {
    grid-area: contacts;
    width: 100%;
}



