/* MAIN NEWS GRID // PC */

.news-content {
  background-color: black;
  color: #ffffff;
  padding: 120px 50px;
}

.news-main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% 25% 20% 25%;
  grid-template-areas:
    "news1-title news3-img news4-img newsletter"
    "news1-article news3-img news4-title newsletter"
    "news2-title news3-title news5-img podcasts"
    "news2-article news3-article news5-title podcasts";
  gap: 20px 20px;
}

.news1-title {
  grid-area: news1-title;
}

.news1-article {
  grid-area: news1-article;
}

.news2-title {
  grid-area: news2-title;
}

.news2-article {
  grid-area: news2-article;
}

.news3-img {
  grid-area: news3-img;
}

.news3-title {
  grid-area: news3-title;
}

.news3-article {
  grid-area: news3-article;
}

.news4-img {
  grid-area: news4-img;
}

.news4-title {
  grid-area: news4-title;
}

.news5-img {
  grid-area: news5-img;
}

.news5-title {
  grid-area: news5-title;
}

.newsletter {
  grid-area: newsletter;
}

.podcasts {
  grid-area: podcasts;
}

.news-cell {
  min-width: 200px;
}
/* STYLE */

/* HELPER */

.flex-col-spacebetween {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.article-style {
  text-align: justify;
  font-size: 0.8rem;
}

.read-more-style {
  text-align: end;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.news-cell__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__heading {
  color: #fff36f;
  font-size: 2rem;
  text-align: end;
  margin: 0;
}

.article__subheading {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 0;
}

.news-author {
  margin: 0;
  font-size: 0.8rem;
  text-align: left;
}

/* MARGINS FOR ICONS */
.news-icon__mr {
  margin-right: 5px;
}

.news-icon__ml {
  margin-left: 5px;
}

.podcasts-section__subtitle {
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.podcasts-section__content {
  border-bottom: 1px solid #fff36f;
  border-top: 1px solid #fff36f;
  padding: 15px 10px;
}

.podcasts-section__listen {
  font-size: 1rem;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listen__icon {
  margin: 0px 20px;
}

.listen__icon:hover {
  color: #fff36f;
}

.podcasts__date {
  font-size: 0.6rem;
  color: #fff36f;
  margin: 25px 0 10px;
}
